h1{
    text-align: center;
}

.sportsName{
    position: relative;
    display: block;
    margin-top: 5em;
}

.submit{
    margin-top: 2em;
    text-align: center;
    justify-content: center;
    margin-left: 30em;
}

.title{
    text-align: center;
}

